<div class='banner'>
    <%= image_tag 'banner.png' ,  height: 400, width: '100%'%>
</div>

<div class='container mt-5'>
 <h1>Bienvenue <%= @user.username %></h1>
 <h4>Vos informations de profils</h4>
  <div class='container-profil mt-3'>
    <div>
        <% if @user.photo.key? %>
          <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar-profil"%>
        <% else %>
          <%= image_tag "https://source.unsplash.com/random/?", class:'avatar-profil', height: 100, width: 100 %>
        <% end %>
    </div>
    <div class='text-profil'>
     <ul>
        <li><%= @user.email%></li>
        <li><%= @user.bio%></li>
        <li><%= @user.experience%>ans d'expérience(s)</li>
        <%# <%= link_to '/devise/registrations/users/edit', class: 'fa-regular' do %>
          <%# <i class='fa-regular fa-pen-to-square'></i> %>
        <%#end%>
      <br>
      <li><h3>Vous avez gagné :
      <% @sum = 0  %>
      <% @user.sessions.each do |session|  %>
      <% @price = session.offer.price  %>
      <% @sum += @price %>
      <% end %>
      <%= @sum %> euros
      </h3></li>
      </ul>
    </div>
  </div>
    <div class='date-recap'>
      <p>Ce <%= Time.now.strftime("%B %e, %Y") %> vous proposez <%= @user.offers.count %> offre(s) et avez <%= @user.sessions.count %> session(s) prévue(s)</p>
    </div>
    <div class='image-link'>
      <%= link_to '/my_offers', class: 'link-offers' do %>
        <%= image_tag 'link-offres.png', class:'link-offers', height: 150, width: 250 %>
      <%end%>
      <%= link_to '/my_sessions', class: 'link-missions' do %>
        <%= image_tag 'link-mission.png', class:'link-missions', height: 150, width: 250 %>
      <%end%>
    </div>
</div>
