  <div class="banner">
      <%= image_tag "banner.png" ,  height: 400, width: "100%"%>
  </div>
<div class="container">
  <div class="icons">
     <%= link_to "/offers/escalade", class: "icon" do %>
        <%= image_tag "escalade-icon.png", class: "logo" %>
      <% end %>
      <%= link_to "/offers/tennis", class: "icon" do %>
        <%= image_tag "tennis-icon.png", class: "logo" %>
      <% end %>
      <%= link_to swiming_offers_path(@offers), class: "icon" do %>
        <%= image_tag "swiming-icon.png", class: "logo" %>
      <% end %>
      <%= link_to "/offers/running", class: "icon" do %>
        <%= image_tag "running.png", class: "logo" %>
      <% end %>
       <%= link_to "/offers/tennis", class: "icon" do %>
        <%= image_tag "tennis-icon.png", class: "logo" %>
      <% end %>
      <%= link_to "/offers/escalade", class: "icon" do %>
        <%= image_tag "escalade-icon.png", class: "logo" %>
      <% end %>
      <%= link_to "/offers", class: "icon" do %>
        <%= image_tag "swiming-icon.png", class: "logo" %>
      <% end %>
  </div>
  <h1 class="text-activs">Les activités du moment</h1>
  <div class="row">
    <% @offers.each do |offer| %>
     <div class="col-3">
        <div class="card-body">
        <% if offer.photo.key? %>
          <img src="<%= cloudinary_url(offer.photo.key) %>" class="card-img-top" alt="...">
        <% else %>
          <img src="https://source.unsplash.com/random/?<%= offer.sport %>" class="card-img-top" alt="...">
        <% end %>
          <div class="card-info">
            <h4><%= link_to offer.sport, offer_path(offer) %></h4>
            <h6><%= offer.name %></h6>
            <h6><%= offer.user.username %></h6>
            <p>A partir de <%= Time.now.strftime("%d/%m/%Y") %></p>
            <h5 class="price"><strong><%= offer.price %>.00 €</strong></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
