
<div class="banner">
    <%= image_tag "banner.png" ,  height: 400, width: "100%"%>
</div>
  <h1 class="text-activs m-5">Mes offres</h1>
 <div class="container">
  <div class="row w-100">
      <% @my_offers.each do |offer| %>
      <div class="col-3">
          <div class="card-body-mission">
          <% if offer.photo.key? %>
           <%= cl_image_tag offer.photo.key, class: "card-img-top" %>
           <% else %>
            <img src="https://source.unsplash.com/random/? <%= offer.sport %>" class="card-img-top" alt="...">
          <% end %>
            <div class="card-info">
              <h4><%= offer.name %></h4>
              <h4>Niv.<%= offer.niveau %></h4>
              <h4><%= offer.price %>€</h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
 </div>


  
