<div class="container">
  <h1><%= @offer.name %></h1>
  <p>
    <%= @offer.sport %>
    <%= @offer.price %> €
    <% if @offer.photo.key? %>
      <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </p>
  <% if policy(@offer).edit? %>
  <%= link_to "Edit this offer", edit_offer_path(@offer) %> |
  <% end %>
  <%= button_to "Destroy this offer", @offer, method: :delete if policy(@offer).destroy? %>
</div>
