<div class="container">
  <div class="banner">
  <%= image_tag "banner.png" ,  height: 400, width: '100%'%>
  </div>
  <div class="card-offer">
      <%=image_tag "marion.jpeg", height: 100%>
      <div class="card-offer-title">
        <h2> <%= @offer.name %> </h2>
        <h3> <%= @offer.sport %> avec <%= @offer.user.username %></H3>
      </div>
      <div class="card-offer-price">
        <h2> <%= @offer.price %> € </h2>
      </div>
  </div>
    <% if policy(@offer).edit? %>
      <%= link_to "Edit this offer", edit_offer_path(@offer), class: "btn btn-primary" %> |
      <% end %>
      <%= button_to "Destroy this offer", @offer, class: "btn btn-warning", method: :delete if policy(@offer).destroy?%>
</div>
