  <div class="banner">
      <%= image_tag "banner.png" ,  height: 400, width: "100%"%>
  </div>
<div class="container">
  <h1 class="text-activs" style= "padding: 8px">Les activités du moment</h1>
  <div class="row">
    <% @offers.each do |offer| %>
     <div class="col-3">
        <div class="card-body">
          <img src="https://source.unsplash.com/random/?<%= offer.sport %>" class="card-img-top" alt="...">
          <div class="card-info">
            <h4><%= offer.sport %></h4>
            <h6><%= offer.name %></h6>
            <h6><%= offer.user.username %></h6>
            <p>A partir de <%= Time.now.strftime("%d/%m/%Y") %></p>
            <h5 class="price"><strong><%= offer.price %>.00 €</strong></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
